:root {
    /* Colors */
  --background: #f4f4f4;
  --foreground: #161616;
  --color-dark: #262626;
  --color-primary: #0042c8;
  --color-primary-lighter: #0f62fe;
  --color-secondary: #161616;
  --color-third: #dcdcdc;
  --color-border: #646464;
  --color-border-lighter: #999999;
  --color-hover: #cdcdcd;
  --color-error: #db4437;
  --background-gradient-blue: linear-gradient(to right, #2265ec 0%, #6a9af2 100%);
  --background-gradient-green: linear-gradient(135deg, #4AEF9A, #86F97A);
  --background-gradient-red: linear-gradient(135deg, #F4394C, #FF591D);
  --background-gradient-grey: linear-gradient(to right, #f9fafb, #eff6ff);
  
  /* Color Rework */
  --bg-dark: oklch(0.92 0 227);
  --bg: oklch(0.96 0 227);
  --bg-light: oklch(1 0 227);

  --highlight: hsl(0,0%,100%);
  --border: hsl(0, 0%, 30%);
  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
  --text: hsl(0,0%,5%);
  --text-muted: hsl(0,0%, 30%);

  /* Spacing */
  --space-xxs: 1px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;


  /* border radius */

  --border-xxs: 1px;
  --border-xs: 4px;
  --border-sm: 6px;
  --border-md: 8px;
  --border-lg: 16px;
  /* text Sizing */
  --text-xs: 0.75rem;    /* 12px */
  --text-sm: 0.875rem;   /* 14px */
  --text-base: 1rem;     /* 16px */
  --text-md: 1.125rem;   /* 18px */
  --text-lg: 1.25rem;    /* 20px */
  --text-xl: 1.5rem;     /* 24px */
  --text-2xl: 1.875rem;  /* 30px */
  --text-3xl: 2.25rem;   /* 36px */
  --text-4xl: 3rem;      /* 48px */
  --text-5xl: 3.75rem;   /* 60px */
  --text-6xl: 4.5rem;    /* 72px */
 
  /* font weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;       /* Default body text */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;         /* Strong emphasis */
  --font-extrabold: 800;
  --font-black: 900;

  /* Typography */
  /* --font-base: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif; */
  --font-heading: var(--font-ibm-plex-sans);
  --font-base: var(--font-ibm-plex-sans);
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-sm: 14px;



  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
} */

body {
  color: var(--foreground);
  background: var(--bg-dark);
  /* font-family: var(--font-base); */
  font-family: var(--font-base, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* z-index: 1; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1{
  font-family: var(--font-heading);
  color: var(--text);
  font-weight: 100;
  
}
h2{
  font-family: var(--font-heading);
  color: var(--text);
  font-weight: 400;
}
p{
  /* font-family: var(--font-base); */
  color: var(--text-muted);
  font-weight: 400;
}
main{
  display: flex;
  padding: var(--space-lg);
  /* justify-content: center; */
  /* width: 100vw; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* margin: var(--space-lg); */
  
}



button:hover{
  cursor: pointer;
}
span{
  font-weight: var(--font-bold);
}

/* .positional-center{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; 
  padding-top: 10vh;
  
} */


.elements-row{
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}


.elements-column{
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.elements-column-no-gap{
    
  flex-direction: column;
  display: flex;
  }

.paragraph-xs{
  font-size: var(--text-xs);
}

.error-msg{
  color: #db4437;
  margin-top: var(--space-sm);
}

.layout{
  display: flex;
}

.main-content {
  flex: 1; /* takes remaining space */
  

}

.row-input-elem{
  gap: var(--space-sm);
  margin-bottom: var(--space-xxs);
  display: flex;
  width: 100%;
  flex-direction: row; 
  align-items: start;

}
.no-participants-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-lg);
}