.time-container{
    background-color: white;
    padding: var(--space-md);
    min-width: 200px;
    max-width: 200px;
    margin: var(--space-xxs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 250px;
    width: auto;
    
}
.chooseTime-header{
    color: var(--foreground);
    font-weight: var(--font-bold);
    margin-bottom: var(--space-md);
    

}