.time-container{
  
    /* padding: var(--space-md); */
    width: 100%;
    max-width: 600px;
    margin: var(--space-xxs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.time-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 222px;
    width: auto;
    
}

.chooseTime-header{
    color: var(--foreground);
    font-weight: var(--font-normal);
    margin-top: 23px;
    margin-bottom: var(--space-md);
    text-align: center;
    width: 100%;
}




.buttons-row{
    display: flex;
    flex-direction: row;
   justify-content: center;
   width: 100%;
   margin-bottom: var(--space-sm);

}
.buttons-row > :nth-child(1) {
  border-left: 1px solid var(--color-primary-lighter);
  border-top: 1px solid var(--color-primary-lighter);
  border-bottom: 1px solid var(--color-primary-lighter);
}
.buttons-row > :nth-child(2){
    border-right: 1px solid var(--color-primary-lighter);
  border-top: 1px solid var(--color-primary-lighter);
  border-bottom: 1px solid var(--color-primary-lighter);
  }




.modalTime-heading{
    font-size: var(--text-md);
    margin-right: var(--space-xl);
}



    
.modalTime-Text{
    display: flex;
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    gap: var(--space-sm);
}

.close-btn-pos{
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--space-sm);
    padding: 0px;
}

.close-btn{
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.exit-icon {
    width: clamp(18px, 2vw, 22px);
    height: clamp(18px, 2vw, 22px);
   
  }


.exit-icon:hover{
    color: red;
    
}


.grid-display-time{
display: grid;
grid-template-columns: repeat(4, 1fr);
  gap: var(--space-xs); /* spacing between items */
   
   max-height: 300px;
   overflow: scroll;
margin-bottom: var(--space-sm);
margin-left: 0px;
   
}
.grid-display-time > * {
    margin: 0;
    box-sizing: border-box;
  }


.modalTime-box{
    display: flex;
    justify-content: center;
    padding: var(--space-xs);
    justify-content: center;
    align-items: center;
    max-height: 200px;
    margin: var(--space-md);
    border: 1px solid var(--color-border);
    background-color: var(--color-primary-lighter);
    
}
.modalTime-box-time{
    color:white

}