.wrapper{
    height: 30vw;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs)
}



.client-name{
    max-width: 12rem; 
    font-family: var(--font-heading);
    color: var(--foreground);
    font-weight: var(--font-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.button-position{
    position: absolute;
    right: 10px;
    display: flex;
    
    height: 43px;
    
    justify-content: center;
    align-items: center;
}


.wrapper:hover{
    overflow-y: scroll;
    
}

.location-title{
    color: rgb(74, 74, 74);
    font-size: var(--text-sm);
    font-weight: var(--font-light);
}
.email-title {
    max-width: 15rem;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: var(--text-sm);
    font-weight: var(--font-normal);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    position: relative;
    top:3.5px
    
  }