.participant-name{
    font-weight: var(--font-semibold);
    
}

.participant-actualtime{
    font-family:'Courier New', Courier, monospace;
    font-weight: var(--font-bold);
    /* color: rgb(73, 73, 73); */
    
    margin-top: var(--space-sm);
}

.canMeet-wrapper{
    position: absolute;
    padding: var(--space-sm);
    margin: var(--space-xs);
    top: 0;
    right: 0;
    border-radius: 10px;
}

.canMeet-wrapper.active{
    background-color: rgb(209 250 229);
    border: 0.5px solid green;
  

}

.canMeet-wrapper.not-active{
    background: #fed4e1;
    border: 0.5px solid var(--color-error);
        
}

.canMeet-text.active{
    color: green
}

.canMeet-text.not-active{
    color: var(--color-error);
}
.error-icon{
    color: var(--color-error);
}
.preview-TitleError{
    color: var(--color-error);
    display: flex;
    align-items: center;
    gap: 5px;
}
.preview-subTitleError{
    margin-top: var(--space-sm);
    color: red;
}