.participant-name{
    font-weight: var(--font-semibold);
    font-size: var(--text-md);
    
}
.preview-error-wrapper{
    margin-bottom: var(--space-sm);
    
}

.previewTimezone-wrapper{
    gap: var(--space-xxs);
    display: flex;
    flex-direction: column;
}
.participant-actualtime{
    font-family:'Courier New', Courier, monospace;
    font-weight: var(--font-bold);
    /* color: rgb(73, 73, 73); */
    font-size: var(--text-sm);
    margin-top: var(--space-sm);
}
.participant-location{
    font-size: var(--text-xs);
    color: var(--text-muted);
    font-weight: var(--font-semibold);
}
.canMeet-wrapper{
    position: absolute;
    padding: var(--space-xs);
    margin: var(--space-xs);
    top: 0;
    right: 0;
    border-radius: 10px;
}

.canMeet-wrapper.active{
    background-color: rgb(209 250 229);
    border: 0.5px solid green;
  

}

.canMeet-wrapper.not-active{
    background: #fed4e1;
    border: 0.5px solid var(--color-error);
        
}
.canMeet-text{
    font-size: var(--text-xs);
}

.canMeet-text.active{
    color: green
}

.canMeet-text.not-active{
    color: var(--color-error);
}
.error-icon{
    color: var(--color-error);
}
.preview-TitleError{
    color: var(--color-error);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--text-md);
}
.preview-subTitleError{
    margin-top: var(--space-sm);
    color: red;
    font-size: var(--text-sm);
    padding-left: var(--space-xs);
}