.sm{
    padding: var(--space-sm);
}
.md{
    padding: var(--space-md)
}
.lg{
    padding: var(--space-lg)
}


.button-base{
    border: 1px solid var(--color-border);
    background-color: transparent;
    margin: var(--space-xxs)
    
}

.primary-btn{
    border: 0px solid;
    background-color: var(--color-primary-lighter);
    color: white;
    padding: var(--space-sm);
    width: 150px;
    
}
.primary-btn:hover{
    background-color: var(--color-primary);
    color: white;
    
}

.secondary-btn{
    border: 1px solid var(--color-primary-lighter);
    color: black;
    margin: 0;
}

.secondary-btn:hover{
    border: 1px solid var(--color-primary-lighter);
    color: white;
    background-color: var(--color-primary-lighter);
}



.third-btn{
    border: 1px solid var(--color-border);

}

.fourth-btn{
    border-radius: 5px;
    border: 0.5px solid var(--color-primary-lighter);
}

.fifth-btn{
    border: 0px solid;
    padding: 0px;
    
}

.fourth-btn:hover{
    background-color: var(--color-primary-lighter);
    color: white;
}
.outline-btn{
    border: 1px solid var(--color-primary-lighter);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.outline:hover{
    background-color: var(--color-primary-lighter);
    color: white;
}
