.sm{
    padding: var(--space-sm);
}
.md{
    padding: var(--space-md)
}
.lg{
    padding: var(--space-lg)
}


.button-base{
    border: 1px solid var(--color-border);
    background-color: transparent;
    margin: var(--space-xxs);
    border-radius: 5px;
    
}

.primary-btn{
    border: 0px solid;
    background-color: var(--color-primary-lighter);
    color: white;
    padding: var(--space-sm);
    width: 150px;
    
}
.primary-btn:hover{
    background-color: var(--color-primary);
    color: white;
    
}

.secondary-btn{
    border: 1px solid var(--color-primary-lighter);
    color: black;
    margin: 0;
}

.secondary-btn:hover{
    border: 1px solid var(--color-primary-lighter);
    color: white;
    background-color: var(--color-primary-lighter);
}



.third-btn{
    border: 1px solid var(--color-border);

}

.fourth-btn{
    border-radius: 10px;
    border: 1px solid var(--color-primary-lighter);
    box-shadow: var(--shadow);
    
}

.fourth-btn:hover{
    background-color: var(--color-primary-lighter);
    color: white;
}

.fifth-btn{
    border: 0px solid;
    padding: 0px;
    
}


.outline-btn{
    border: 1px solid var(--color-primary-lighter);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.outline:hover{
    background-color: var(--color-primary-lighter);
    color: white;
}

.nav-btn{
    padding: var(--space-sm);
    border: 0px;
    width: 15vw;
    min-width: 200px;
    transition: transform 0.1s ease;
    font-size: var(--text-sm);
    color: var(--text-muted);
    align-items: center;
    gap: var(--space-sm);
    display: flex;
    
}
.nav-btn:hover{
    transform: scale(1.05);
   
}
.nav-btn.active{
    background: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
}

.log-out-btn{
    background-color: red;
    color: white;
    width: 10vw;
    justify-content: space-between;
    display: flex;
   
}

.sign-in-btn{
    border: 0px solid;
    background-color: var(--color-primary-lighter);
    color: white;
    padding: var(--space-sm);
    width: 100%;
    font-size: var(--text-sm);
    font-weight: var(--font-md);
}

.sign-in-btn:hover{
    background-color: var(--color-primary);
   
}