.sm{
    padding: var(--space-sm);
}
.md{
    padding: var(--space-md)
}
.lg{
    padding: var(--space-lg)
}


.button-base{
    border: 1px solid var(--color-border);
    background-color: transparent;
    margin: var(--space-xxs)
    
}

.primary{
    border: 0px;
    background-color: var(--color-primary-lighter);
    color: white;
}
.primary:hover{
    background-color: var(--color-primary);
}


.secondary{
    background-color: red;
}

.outline{
    border: 1px solid var(--color-primary-lighter);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.outline:hover{
    background-color: var(--color-primary-lighter);
    color: white;
}