.showTime-Title{
    font-weight: var(--font-bold);
    color: white ;

    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: var(--space-xxs);
    font-size: var(--text-sm);
}
.clock-Design{
    color: white
}
.showTime-time{
    color: white;
    font-weight: var(--font-bold);
    font-size: var(--text-lg);
  
}
.showTime-date{
    color: #E5E7EB;
    font-weight: var(--font-thin);
    font-size: var(--text-sm);
}