.button-wrapper-1{
    background-color: var(--background);
    border: 0.5px solid var(--color-hover);
    padding: var(--space-xs);
    min-width: 50px;
    max-width: 7vw;
    margin: 0px;
    
}

.button-wrapper-1:hover{
    background-color: var(--color-hover);
}

.turnDownOpacity {
    opacity: 0.5;
  }

.button-wrapper-1.selected{
    background-color: var(--color-primary-lighter);
}

.button-wrapper-1.selected:hover {
    background-color: var(--color-primary);
}