.button-wrapper-1{
    background-color: var(--background);
    border: 0.5px solid var(--color-hover);
    padding: var(--space-xxs);
    /* min-width: 50px;
    max-width: 7vw; */
    
    margin: 0px;
    
}

.date-number-wrapper{
    display: flex;
    justify-content: center;
}
.calendar-box{
    /* padding: var(--space-md); */
    width: 3vw;
    background-color: transparent;
    border: 0px;
    color: var(--text)
    /* max-width: none; */
}

.button-wrapper-1:hover{
    background-color: var(--bg-light);
    border-radius: var(--border-xs);
}

.turnDownOpacity {
    opacity: 0.5;
  }

.button-wrapper-1.selected{
    background-color: var(--color-primary-lighter);
    border: 0.5px solid var(--color-primary-lighter);
    color: white
    
}

.button-wrapper-1.selected:hover {
    background-color: var(--color-primary);
}

.button-wrapper-1.unselectable{
    opacity: 0.5;
}
.button-wrapper-1.unselectable:hover{
    cursor:not-allowed;
}

.choose-time-slot{
    background-color: white;
    border: 0px;
    min-width: 0px;
    width:130px;
    max-width: 500px;
    justify-content: center;
    padding: var(--space-sm);
    margin: var(--space-xxs);
    border: 1px solid var(--color-primary-lighter);
    
    
    
}
.choose-time-slot:hover{
    background-color: var(--color-primary-lighter);
    color: white
    
}

.button-clock{
    border: 0px;
    width: 100%;
    padding: var(--space-sm);
    background-color: white;
}

.button-clock:hover{
    background-color: var(--color-hover);
    
}

.button-clock.active {
    background-color: var(--color-primary-lighter);
    color: white;
   
  }