.pfp-wrapper{
    border-radius: 50%;
    background: linear-gradient(to right, #2265ec 0%, #6a9af2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: 1px solid var(--color-primary-lighter);
}
.pfp-title {
    color: white;
    font-weight: var(--font-bold);
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.userPfp-big{
    width: 40px;
    height: 40px;
    font-size: var(--text-lg);
    
}
.userPfp-small{
    width: 25px;
    height: 25px;
    font-size: var(--text-xs);
}